.mainAddButton {
  padding: 10px;
  margin: 20px;
  background-color: #d1411e00;
  border: 2px solid;
  width: 150px;
  border-radius: 10px;
  color: blue;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border-color: blue;
}

.mainAddButton:hover {
  background-color: blue;
  color: white;
  transition: all 0.5s ease-in-out ;
}

.listcontainer{
  display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

  .bebida {
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .extraButton5 {
    margin-left: 25px;
    background: lightgreen;
    color: gray;
    border-color: rgb(0 0 0 / 0%);
    border-radius: 10px;
  }
  .extraButton5:hover {
    transition: all 0.5s ease;
    background: green;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  .extraButton4 {
    margin-bottom: 20px;
  }

  .inputinho {
    width: 20px;
    height: 20px;
  }

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(245, 240, 240, 0.52);
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.wrapper {
  width: 630px;
  background-color: white;
  padding: 10px 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.close {
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
}

.input {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
}

.inputSm {
  width: 40%;
}

.extra {
  display: flex;
  justify-content: space-between;
}

.extraItems {
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
}

.extraItem {
  padding: 5px;
  font-size: 14px;
  border: 1px solid tomato;
  background-color: white;
  color: tomato;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.extraButton{
  background: white;
    border-radius: 9px;
}

.extraButton:hover{
  background: rgb(100, 99, 99);
        color: white;
        transition: all 0.5S ease;
}

.addButton {
  width: 25%;
    background-color: teal;
    border-color: teal;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 0;
    align-self: flex-end;
}

.addButton:hover{
  background-color: lightgreen;
  border-color: lightgreen;
  transition: all 0.5S ease;
}
