@media print {

  .container {
    visibility: hidden;
    height: 0px;
    box-shadow: 0px 0px;
    margin: 0;
    color: #000;
    background-color: #fff;
    display: none;
  }

  .item {
    visibility: hidden;
    box-shadow: 0px 0px;
    height: 0px;
    display: block;
  }

  .trTitle {
    visibility: hidden;
    box-shadow: 0px 0px;
    height: 0px;

    display: block;
  }

  .tbTitle {
    visibility: hidden;
    box-shadow: 0px 0px;
    height: 0px;
    display: block;
  }

  .table {
    visibility: hidden;
    box-shadow: 0px 0px;
    height: 0px;

    display: block;
  }

  .impressao {
    display: block;
  }
}

.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  background-image: url("../img/vetorialdog.png");

}

.impressao2 {
  background: #ffffff00;
  border: none;
}

.item {
  flex: 0 0 auto;
    margin: 0 auto;
    margin-left: 220px;
}
.item6 {
  flex: 0 0 auto;
    margin: 0 auto;
    margin-left: 220px;
 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table {
  width: 100%;
  border-spacing: 0px 20px;
  text-align: left;
}

.button {

  color: white;

  cursor: pointer;
}

.statinho {
  margin-top: 25px;
  font-size: 15px;
}

.checkkk {
  width: 22px;
  height: 22px;
}

.proximo {
  margin-bottom: 25px;
  border: 1;
  border-color: green;
  font-size: 15px;
  font-weight: 600;
  color: #009f00;
  width: 100px;
  padding: 5px;
  height: 65px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.proximo3 {
  border: 1;
  border-color: GRAY;
  font-size: 15px;
  font-weight: 600;
  color: GRAY;
  width: 78px;
  padding: 5px;
  height: 97px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.proximo2 {
  margin-top: 20px;


}

.proximo:hover {
  background-color: greenyellow;
  color: white;
  transition: all 0.5S ease;
}

.proximo3:hover {
  background-color: lightgray;
  color: white;
  transition: all 0.5S ease;
}

.button:first-child {
  background-color: teal;
  margin-right: 10px;
}

.button2 {
  border: 1;
  border-color: darkblue;
  font-size: 15px;
  font-weight: 600;
  color: darkblue;
  width: 100px;
  padding: 5px;
  height: 35px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20px;
}

.button2:hover {
  background-color: blue;
  color: white;
  transition: all 0.5S ease;
}

.button:last-child {
  border: 1;
  border-color: red;
  font-size: 15px;
  font-weight: 600;
  color: red;
  width: 100px;
  padding: 5px;
  height: 35px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.button:last-child:hover {
  transition: all 0.5S ease;

  color: white;
  padding: 5px;
  width: 100px;
  height: 35px;
  background-color: red;
  border-radius: 10px;
  cursor: pointer;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.td2Title {

  width: 400px;
}

.tdtTitle {

  width: 10%;
}

.tdt2Title {
  text-align: initial;
  margin-top: 10px;
}

.trTitle {

  font-weight: bold;
  background: linear-gradient(45deg, white, transparent);
  text-align: center;
  box-shadow: 0px 0px 2px 0px black;
}

.tdimgTitle{
  display: flex;
    justify-content: center;
    padding: 10px;
}

.spanTitle{
  padding: 10px;
}
.spanTitle5{
  display: flex;
    height: 200px;
    width: 130px;
    flex-direction: column;
    justify-content: center;
}

.alinhado {
  display: flex;
  justify-content: space-between;
}

.totalTitle {
  width: 8%;
}

.metodoTitle {
  width: 15%;
}


.divTitle {
  margin-top: 30.5px;
  margin-bottom: -11px;
  background-color: black;
  width: 100%;
  height: 2px;
}

.div3Title {
  margin-top: 29.5px;
  margin-bottom: -11px;
  background-color: black;
  width: 100%;
  height: 2px;
}

.spanTitle {
  display: flex;
  height: 200px;
  width: 130px;
  flex-direction: column;
  justify-content: center;
}

.span3Title {
  align-items: flex-start;
  height: 200px;
  font-size: 15px;
  width: 230px;
  display: flex;
  text-align: center;
  justify-content: center;

  flex-direction: column;
}

.span2Title {
  font-size: 15px;
  align-items: flex-start;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer{
  background: #584B5E;
  width: 100%;
  height: 200px;
  display: flex;
    align-items: center;
    justify-content: space-around;
}
.produto {
  width: 110px;
}

.div2Title {


  background-color: black;
  width: 100%;
  height: 2px;
}

.div3Title {
  margin-top: 29.5px;
  margin-bottom: -11px;
  background-color: black;
  width: 100%;
  height: 2px;
}

.title {
  
  text-align: center;
  font-weight: 900;

}

.homee{
  margin-left: 220px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title2 {
  
  text-align: center;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding: 40px ;
}
.title4 {
  
  text-align: center;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding: 40px ;
}
.sidesite{
  height: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.sidesite:hover{
  transition: 0.5s all ease;
  background-color: #ab84bd;
}
.sidebar{
  background: #584b5e;
  position: fixed;
    width: 220px;
}
.sidebtn {
  width: 220px;
  border-bottom: 2px solid #707070;
  padding: 1rem;
  cursor: pointer;
}
.sidebtn:hover{
  transition: 0.5s all ease;
  background-color: #ab84bd;
}
.sidebtn:focus{
  background-color: #ab84bd;
}
