.container{
    z-index: 999;
    margin: 0 auto;
}

.container .dropBtn {
    background: #fff0;
    box-shadow: 3px 3px 10px 6px tgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 3rem;
}

.container .dropCont {
    position: absolute;
    left: 0;
    top: 110%;
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #333;
    width: 100%;
}

.container .dropCont .dropsItem {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
 }
.container .dropCont .dropsItem:hover {
    background: #f4f4f4;

 }