@media print {
  .container {
    visibility: hidden;
    height: 0px;
    display: none;
  }

  .mapContainer {
    visibility: hidden;
    height: 0px;
    display: none;
  }
}

.container {
  height: calc(95vh - 100px);
  background: #f6e4ff;
  display: flex;
}

.mapContainer {
  width: 40%;
  height: 90%;
  position: absolute;
  bottom: 50px;
  right: 40px;
}

.item {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.item:last-child {
  flex: 2;
  padding: 50px;
  justify-content: space-evenly;
}

.card {
  padding: 0 20px;
  flex: 0 0 auto;
  width: 50%;
}

.title {
  font-size: 18px;
  color: #e43aef; 
  text-align: center; 
}

.text {
  color: black;
  font-size: 15px;
  margin-top: 15px;
  text-align: center;
}

.motto {
  font-size: 1.2rem;
  text-align: center;
}
.item2{
  display: none;
}
.maps{
  position: absolute;
  right: 25px;
  top: 12%;
}

@media screen and (max-width: 850px) {
  .container {
    height: auto;
    text-align: center;
  }

  .mapContainer {
    width: 90%;
    height: 330px;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: relative;
  }

  .motto {
    display: none;

  }
  .maps{
    display: none;
  }
  .item:first-child {
    display: none;
  }

  .item {
    flex-direction: column;
    padding: 20px;
  }
  .item2 {
    display: block;
  }

  .item:last-child {
    flex: 2;
    padding: 20px;
    justify-content: space-between;
  }

  .title {
    font-size: 30px;
    margin-top: 40px;
    text-shadow: 1px 15px 15px grey;
    color: #812121;
  }
  .card{
    padding: 0 0px;
    flex: 0 0 auto;
    width: auto;
  }
  .text {
    font-size: 18px;
  }
}