.container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 999;
  align-items: center;
  justify-content: center;
  background-color: rgba(197, 197, 197, 0.568);
  flex-direction: row-reverse;
  
}

.spancents{
  font-size: 12px;
  padding: 2px 50px 2px 5px;
  border: 1px solid black;
}

.close {
  width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    bottom: 40px;
    right: 90px;
    font-size: 30px;
    justify-content: center;
}

.wrapper {
  width: 500px;
  background-color: white;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 300;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.label {
  margin-bottom: 10px;
}

.input {
  height: 25px;
  font-size: 12px;
}
.input2 {
  height: 25px;
  font-size: 12px;
}
.troquinho{
  display: flex;
}

.button {
  background-color: #f7f5f5;
  color: limegreen;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  border-color: limegreen;
  width: 200px;
}

.button:hover {
  background-color: limegreen;
  color: whitesmoke;
  transition: all 0.5s ease;
}

@media screen and (max-width: 480px) {
  .container{
    position: fixed;
  }

  .troquinho{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .wrapper{
    width: 100vw;
    height: 98vh;
   
  }
  .spancents{
    padding: 6px 20px 6px 5px;
    width: 20%;
  }
  .close{
    right: 45px;

  }
  .input2 {
    width: 80%;
    height: 2rem;
    font-size: 15px;
  }
  .input1 {
    width: 80%;
    height: 2rem;
    font-size: 15px;
  }
  .title{
    font-size: 1.44rem;
  }
}
