@font-face {
  font-family: 'Quicken';
  src: url('../fonts/Quicken.ttf');
}

.container {
  height: calc(100vh + 150px);
  display: flex;
  background-image: url("../img/vetorialdog.png");
  margin: 3.5rem 0;
}

.desc {
  font-size: 1.03rem;
  white-space: pre-wrap;
}

.textarea {
  width: 45vw;
  height: 10vw;
}

.estilo {
  padding: 100px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url('../img/bannerpage.jpg');
  background-size: cover;
  background-position: center;
}

.pointer{
  cursor: pointer;
}

.arrowContainer {
  cursor: pointer;
}

.imgg {
  margin-bottom: 25px;
}

.choose {
  margin-bottom: 40px;
  font-size: 25px;
  font-family: auto;
}

.tititle2 {
  position: relative;
  bottom: 30px;
}


.title {
  font-family: auto;
}

.left {
  flex: 1;
  height: 80%;
  max-width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.left2 {

  display: flex;
  width: 100%;
  justify-content: space-evenly;
}





.right {
  flex: 1;
  padding: 20px;
}

.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
}

.imgContainer3 {
  border-radius: 5px;
}

.price {
  color: #7e776b;
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid #58544b;
}

.sizes {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.size {
  width: 90px;
  height: 90px;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.size:hover {
  background: lightblue;
}



.size:last-child {
  width: 90px;
  height: 90px;
}

.size:last-child:hover {
  background: lightblue;
}

.number {
  position: absolute;
  top: -27px;
  right: -2px;
  background-color: teal;
  color: white;
  font-size: 15px;
  padding: 0 5px;
  border-radius: 7px;
  width: 100px;
}

.position {
  display: flex;
}

.margem {
  margin-right: 20px;
}

.ingredients {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.option {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}

.checkbox {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.quantity {
  width: 50px;
  height: 30px;
}

.button {
  height: 50px;
    width: 160px;
    background: #ffa4e7b8;
    border-color: #ffa4e7b8;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    margin-left: 15px;
}

.button:hover {

  background-color: #32cd32;
  border-color: #32cd32;
  color: #f5f5f5;
  transition: all .5s ease;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .9);
  height: 100%;
  width: 100%;
  z-index: 999999;
  display: none;
}

.popupshow {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .9);
  height: 100%;
  width: 100%;
  z-index: 999999;
  display: block;
}

.popupclose {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 999999;
}

.popupimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  object-fit: cover;
  width: 45vw;
}

@media screen and (max-width: 650px) {
  .container {
    height: auto;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .popupimg {
    width: 95vw;
  }

  .left2{
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: space-between;
  }

  .imgContainer {
    width: 75vw;
    height: 50vh;
  }

  .title {
    margin: 5px;
    font-size: 2rem;
  }

  .choose {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  .choose2 {
    font-size: 1.4rem;
    margin-bottom: 40px;
  }

  .sizes {
    width: 100%;
    padding: 0px 20px;
    justify-content: space-around;
  }

  .number {
    right: 15px;
  }

  .desc {
    text-align: start;
    font-size: 1rem;

  }

  .size {
    width: 120px;
    height: 120px;
  }

  .size:last-child {
    width: 120px;
    height: 120px;
  }

  .ingredients {
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .option {
    margin: 10px;
    font-size: 18px;
  }

  .checkbox {
    width: 25px;
    height: 25px;
  }

  .left {
    max-width: none;
  }

  .textarea {
    width: 85vw;
    height: 35vw;
  }

  .quantity,
  .button {
    height: 50px;
    padding: 10px 20px;
  }

  .position {
    flex-direction: column;
  }

  .arrowContainer {
    width: 5rem;
  }
}